@{
    ViewData["Title"] = "vication";
}
@model User

@* <form asp-action="Login" method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
    </div>
    <button type="submit">Login</button>
    <div>
    Allready a member
    <a>Register</a>
    </div>
</form> *@
